<% provide(:title_tag, 'Artists Played') %>
<h1>Artists played by <%= "#{@dj.name}" %></h1>

<table>
  <thead>
    <th>Name</th>
    <th>Actions</th>
  </thead>
  <tbody>
  <% @artists.each do |artist| %>
    <tr>
      <td><%= link_to artist.name, artist_path(artist) %></td>
      <td>Link to DJ's plays?</td>
    </tr>
  <% end %>
  </tbody>
</table>

<%== pagy_nav_js(@pagy).html_safe %>
<%== pagy_combo_nav_js(@pagy).html_safe %>
