  <div id="artist-links">
    <h3>Links</h3>
    <dl>
      <% if @artist.discogs_url.present? %>
        <dt><%= link_to 'Discogs', @artist.discogs_url, class: 'link' %></dt>
      <% end %>
      <% if @artist.lastfm_url.present? %>
        <dt><%= link_to 'Last.fm', @artist.lastfm_url, class: 'link' %></dt>
      <% end %>
    </dl>
  </div>
