    <tr>
      <td class="track"><%= spin.track %></td>
      <td class="release"><%= spin.release %></td>
      <td class="label"><%= spin.label.name %></td>
      <td class="time"><%= format_spin_date spin.played_at %></td>
    </tr>
