<% provide(:title_tag, "Recently played by #{@artist.name}") %>

<h1>Recently Played songs by <%= "#{@artist.name}" %></h1>

<table>
  <thead>
    <th>Song</th>
    <th>Release</th>
    <th>Label</th>
  </thead>
  <tbody>
  <% @spins.each do |spin| %>

    <%= render spin, object: spin %>

  <% end %>
  </tbody>
</table>

<%= pagy_nav(@pagy).html_safe %>
