<% provide :title_tag, 'Most Played' %>

<h2>Most Played</h2>

<div id="most-played">
  <% ArtistHelper::SPIN_COUNT_SCOPES.each do |time_frame| %>
    <div class="timeframe">
      <h3><%= time_frame.titleize %></h3>
      <dl>
      <% send("most_played_#{time_frame}").each do |artist, count| %>
        <dt class="artist <%= cycle("odd", "even", name: "row_class") -%>"><%= link_to artist[0], artist_path(artist[1]) %></dt>
        <dd class="count"><%= count %></dd>
      <% end %>
      </dl>
    </div>
  <% end %>
</div>
