<% provide(:title_tag, "Recently played #{@label.name}") %>

<h1>Recently Played on <%= "#{@label.name}" %></h1>

<table>
  <thead>
    <th>Artist</th>
    <th>Song</th>
    <th>Release</th>
    <th>Played at</th>
  </thead>
  <tbody>
  <% @spins.each do |spin| %>

    <%= render "label_spin", spin: spin %>

  <% end %>
  </tbody>
</table>

<%= pagy_nav(@pagy).html_safe %>
