<% provide :title_tag, 'Recently Played' %>
<h1>Recently Played</h1>

<table>
  <thead>
    <th>Name</th>
  </thead>
  <tbody>
  <% @djs.each do |dj| %>
    <tr>
      <td><%= link_to dj.name, dj_path(dj) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= pagy_nav(@pagy).html_safe %>
