<div class="turbo-table">
  <div class="turbo-header">
    <div class="turbo-header-cell">Artist</div>
    <div class="turbo-header-cell">Song</div>
    <div class="turbo-header-cell">Release</div>
    <div class="turbo-header-cell">Label</div>
    <div class="turbo-header-cell">Played at</div>
  </div>
  <div data-controller="home">
    <%= render partial: 'spins/spin_rows', locals: { spins: spins, page_number: @pagy.page } %>
  </div>
</div>
