    <tr>
      <td class="artist"><%= link_to spin.artist.name, artist_path(spin.artist) %></td>
      <td class="track"><%= spin.track %></td>
      <td class="release"><%= spin.release %></td>
      <td class="label"><%= spin.label.name %></td>
    </tr>
