<% the_dj = spins.first.dj %>
<table class="border-collapse table-fixed max-w-4xl">
  <thead>
    <th class="chirp-th w-1/5 bg">Artist</th>
    <th class="chirp-th w-1/5 bg">Song</th>
    <th class="chirp-th w-1/5 bg">Release</th>
    <th class="chirp-th w-1/5 bg">Label</th>
    <th class="chirp-th w-1/5 bg">Played at</th>
  </thead>
  <tbody>
    <tr>
      <td class="dj" colpan="5">
        <%= the_dj.name %>
      </td>
    </tr>
    <% spins.each do |spin| %>
      <% if spin.dj != the_dj %>
        <tr class="dj">
          <td colspan="5"><%= spin.dj.name %></td>
        </tr>
      <%- end %>
      <%= render 'spin', spin: spin %>
      <% the_dj = spin.dj %>
    <% end %>
  </tbody>
</table>
