<% provide :title_tag, 'Recently Played' %>
<h1>Recently Played</h1>

<table>
  <thead>
    <th>Artist</th>
    <th>Song</th>
    <th>Release</th>
    <th>Label</th>
    <th>Played at</th>
  </thead>
  <tbody>
  <% @spins.each do |spin| %>

    <%= render "spin", spin: spin %>

  <% end %>
  </tbody>
</table>

<%= pagy_nav(@pagy).html_safe %>
