<% provide :title_tag, 'Recently Played' %>

<h1 class="font-sans">Recently Played</h1>

<%= render 'spin_table', spins: @spins %>

<%== pagy_nav_js(@pagy).html_safe %>
<%== pagy_combo_nav_js(@pagy).html_safe %>
